@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@font-face {
  font-family: Harir;
  src: url(Harir_complete_OTF_Harir_Bold.otf);
}
body {
  background-color: #ffd2a9;
  color: black;
  font-family: Harir, "Lalezar", system-ui;
  padding: 0;
  margin: 0;
  
}
section {
  /* align-content: center; */
  padding: 5%;
  min-height: 100vh;
}
section:nth-child(9) {
  background-color: black;
  min-height: 80vh;
 } /*ملاحظه ترا كل ما تظيف div راح يتغير  */
/* ذا يعني ان اخر قسم بيكون اسود هو الي بيكون في اسمي و اسمك و كلام كذا */
.shadow {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.hidden {
  opacity: 0;
  filter: blur(7px);
  transform: translateX(-100%);
  transition: all 1s;
}
.Bar {
  display: block;
  position: fixed;
  width: 100%; /* هذا العرض خله نفس ما هو */
  height: 13%; /*  المشكله بالطول*/
  background-color: rgb(255 188 127);
  top: 0;
  left: 0;
  z-index: 3;
}
#TeacherDayIcon {
  position: fixed;
  width: 13%;
  height: 13%;
  left: 0;
  cursor: pointer;
  transition: height ease-in 0.5s;
}
#TeacherDayIcon:hover {
  /* height: 13.5%; */
}
#OurThanks  {
  position: fixed;
  width: 15%;
  height: 13%;
  font-size: 1.5vh;
  padding: 0.5%;
  right: 0;
  font-size: 2.5vw;
  background-color: transparent;
  border: 0.5vw dotted black;
  transition: border ease 0.3s ,background-color ease 0.3s,color ease 0.3s;
  /* margin-right: ; */
}
#OurThanks:hover {
  border-style: solid;
  background-color: #000000;
  color: white;
}
@media (max-width:1300px) {

  .Bar {
    height: 7%;
    
  }
  #OurThanks {
    height: 7%;

  }
  section {
    padding: 9%;
  }
  #TeacherDayIcon {
    height: 7%;
  }
}
@media (max-width: 540px) {
  .Bar {
    height: 6%;
    
  }
  #OurThanks {
    height: 6%;

  }
  #TeacherDayIcon {
    height: 6%;
  }
  section {
    padding: 9%;
  }
}
.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition: all 1s linear;

}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
.Topic {
  text-align: right;
  margin-right: 5%;
  margin-top: 8%;

  font-weight: 280;
  font-size: 5vw;
}
.description {
  text-align: right;
  margin-right: 5%;
  font-weight: 100;

  font-size: 2.5vw;
  text-wrap: wrap;
}
svg {
  display: inline-block;
  width: 32vw;
  height: auto;
  margin-left: 3vw;
  margin-right: 3vw;
}
.img {
  width: 30%;
  height: 30%;
  transition: all 0.5s linear, src 0.5s linear;

  border: 2vw solid transparent;
  border-image-source: url("xxxx.png");
  border-image-slice: 25;
}
path {
  transition: fill 0.5s linear;
  cursor: default;
}
.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 1s linear;
  backdrop-filter: blur(0px);
}
.loadingScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ffd2a9;
  z-index: 8;
}
.loadingIcon {
  width: 15vw;
  height: 15vw;
  animation: loading infinite linear 2s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide:nth-child(3) {
  transform: translateX(-100%);
}

.showw {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) translate(-50%, -50%);
  transition: transform 1s ease-out, visibility 1s linear, opacity 1s linear;
}
.CardContainer {
  display: flex;
  justify-content: space-between;
}

.Card,
.windowCard {
  position: relative;
  align-items: center;
  width: 24vw;
  height: 28vw;
  background-color: rgb(0, 255, 85);
  margin-left: 8vw;
  border-radius: 0.5vw;
  transition: transform linear 0.3s;
  overflow: hidden;
  cursor: pointer;
}
.windowCard {
  margin-left: 1vw;
  margin-right: 1vw;

  width: 20vw;
  height: 24vw;
  transition: all 0.5s linear;
}

.windowCard:hover {
  width: 24vw;
}
.windowCard:hover .circle {
  transform: rotate(60deg);
}
.circle {
  position: absolute;
  left: -30%;
  top: -20%;
  width: 20vw;
  transition: transform ease 0.5s;
}
.Card:hover {
   transform: perspective(4000px) rotateY(7deg) rotateX(8deg) translateY(-5%); /* شكل الازار لما تحط الماوس عليهم */
}
.Card:hover .Logo {
  transform: scale(110%);
}
.cardText {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 5%;
  font-weight: 100;
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.Logo {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: transform ease-in-out 0.3s;
}

.Card:nth-child(3) {
  margin-right: 8vw;
}

.Window {
  width: 50vw;
  height: 50vw;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  z-index: 3;
  box-sizing: border-box;
  justify-content: space-between;
}
#Degree{
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  z-index:6;
  box-sizing: border-box;
  justify-content: space-between;
}
/* .Window {
  height: 70%;

  width: 45%;
  overflow: scroll;

  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  z-index: 3;
  box-sizing: border-box;
  justify-content: space-between;
} */
.Main {
  color: black;
  font-size: 2.5vw;
  text-align: center;
}
.windowDescription {
  font-size: 1.5vw;
  text-align: center;
  margin: 4vw;
}
.closeBtn {
  border: none;
  cursor: pointer;
  position: absolute;
  width: 2vw;
  height: 2vw;
  font-size: 2vw;
  right: 0;
  background-color: transparent;
  box-sizing: border-box;
}
/* @media all and (max-width: 1500px) {
  .Window {
    height: 30%;
    background-color: red;
  }
} */
.cloneMap {
  display: block;
  width: 50vw;
  height: auto;
  margin: auto;
  fill: #6b4e45;
}

.HateOnPhones {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 7;
  margin: 0px;
  top: 0%;
  left: 0%;
}
.Waring {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: white;
}

/* @media all and (max-width: 500px) {
  .HateOnPhones {
    display: block;
  }
} */
.Xxxx {
  width: 45vw;
  height: 45vw;
  background-color: aliceblue;
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.pdf {
  /* width: 40vw;
  height: 40vw;
  position: absolute;
  left: 2%;
  top: 5%;
  scrollbar-width: 0px; */
  width: 90%;
  height: 90%;
  position: absolute;
  right: 5%;
  top: 5%;
  scrollbar-width: 0px;
}

::-webkit-scrollbar {
  display: none;
}


/* width: 90%;
height: 90%;
position: absolute;
right: 5%;
top: 5%;
scrollbar-width: 0px; */


.Icon{
    width: 20%;
    height: 20%;
    /* position: absolute;
    left: 5%;
    top: 18%; */

  /* width: 30%;
  height: 30%;*/
  margin-left: 37.5%; 

}
.Name{
  margin-top: 33%;
  margin-left: 40%;
  margin-bottom: 3.5%;
  font-size: 2.5vw;
}

#input{
  display: block;
  border: 0.15vw solid black;
  width: 30%;
  height: 6%;
  font-family: Harir;
  color: #9B9B9B;
  text-align: center;
  font-size: 1.7vw;
  margin-bottom: 4.5%;
  margin-left: 35.5%;
  transition: all ease 0.5s
  
}
#input.NeedToFull {
  border: 0.15vw solid #FF0000;
}
#input:focus{
  outline: none;
  color: #000000;
  border-color: rgb(30, 152, 186);
}
#Button{
  font-family: Harir;

  width: 30%;
  margin-left: 36%;
  height: 8%;
  background-color: #00FF1E ;
  border-radius: 5%;
  color: black;
  font-size: 2vw;
  border: none;
  transition: all ease 0.5s

}
#Button:hover{
  scale: 102%;
}
#Button:active{
  scale: 105%;
}

.CD{
  text-align: right;
  font-size: 2.5vw;
  margin-right:5%;
  
}
.CD1{
  margin-top: 15%;
}
.CD2{
  width: 33%;
  display: inline;
}
.C5{
  position: absolute;
  top: 25%;
  width: 40%;
  height: 40%;
}
#TeacherName{
  color: #ffaa00;
}
.border{
  position: absolute;
  width: 110%;
  height: 102%;
  top: -0.8%;
  left:-5%;
  
}
.H55  {
  width: 50%;
  /* margin-left: 49%;
  margin-top: 15%; */
  position: absolute;
  top: 29%;
  right: 5%;
  font-size: 1.5vw;
}


/* @media (max-width:1800px) {
  .H55{
    margin-top: 20%;
  }
} */
